<h1>Let's Work Together!</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Office Address</h3>

    <p>555 Place St Chicago, IL</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "312-702-0294" %></p>

    <h3>Email</h3>

    <p><a href="mailto:ddlee929@gmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2971.1427592739874!2d-87.7963321845267!3d41.86827487922295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e348d7ad6ed05%3A0xbd1d33e52a552a6d!2s1113+S+Oak+Park+Ave%2C+Oak+Park%2C+IL+60304!5e0!3m2!1sen!2sus!4v1522254523029" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

  </div>
</div>

